body
{
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #c9d1d9;
    background: #0d1117;
}

h1:left
{
    font-size: 2em;
    line-height: 1.2;
}

h1, h2, h3
{
    line-height: 1.2;
}

a:link
{
    color:#58a6ff
}

a:visited
{
    color:#8e96f0
}

.entry
{
    color: #7d8186 !important;
    font-weight: bold;
    text-decoration: none;
    outline-color: transparent;
}

.entry:hover
{
    color: #c9d7d9 !important;
}

.row
{
    height: 100%;
    display: flex;
    margin: 40px auto;
    padding: 2rem 10rem;
    flex-wrap: wrap;
    flex: 1 0 100%;
    max-width: 1300px;
}

.column
{
    margin: 0 1rem;
    width: calc(50% - 2rem);
    gap: 10px;
}

#left
{
    overflow: visible;
}

#right
{
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0px;
    height: calc(100vh - 4rem - 80px);
    scrollbar-width: thin;
    scrollbar-color: #c9d1d9 #0d1117;
}

@media only screen and (max-width: 1000px)
{
    .row
    {
        flex-direction: column;
        align-items: center;
        margin: 0 0;
        padding: 0 0;
    }
    .column
    {
        margin: 0 0;
        width: 80%;
    }
    #right
    {
        overflow: visible;
    }
}
