body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #c9d1d9;
    background: #0d1117;
}
hr {
    border-color: #0d1117;
}
#left h1 {
    font-size: 2em;
    line-height: 1.2;
    color: #fb0;
}
#left h2, #left h3 {
    line-height: 1.2;
}
#right h1, #right h2, #right h3 {
    line-height: 1;
}
.proj {
    overflow: hidden;
}
.proj a:link, .proj a:visited {
    color: #c9d1d9;
    text-decoration: none;
    outline-color: transparent;
}
.proj h3 {
    color: #7d8186;
}
.proj:hover {
    background-color: #1a212c;
}
.proj:hover a h2 {
    color: #fb0;
}
.exp {
    display: flex;
    flex-direction: column;
}
.exp h3 {
    color: #7d8186;
    margin: 0 0;
}
.exp-header {
    justify-content: space-between;
}
.exp-header #one {
    float: left;
}
.exp-header #two {
    float: right;
    margin-left: auto;
}
.entry {
    color: #7d8186 !important;
    font-weight: bold;
    text-decoration: none;
    outline-color: transparent;
}
.entry:hover {
    color: #fb0 !important;
}
.row {
    height: 100%;
    display: flex;
    margin: 40px auto;
    padding: 2rem 10rem;
    flex-wrap: wrap;
    flex: 1 0 100%;
    max-width: 1300px;
}
.column {
    margin: 0 0.5rem;
    gap: 10px;
    position: relative;
}
#left {
    overflow: visible;
    width: calc(40% - 2rem);
    height: calc(100vh - 4rem - 80px);
}
#right {
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0px;
    height: calc(100vh - 4rem - 80px);
    scrollbar-width: thin;
    scrollbar-color: #334258 #0d1117;
    padding: 0 1rem;
    width: calc(60% - 2rem);
}
#portrait-hr {
    border-color: transparent;
}
.trivia-left {
    position: absolute;
    bottom: 0;
}
.trivia-right {
    display: none;
}
@media only screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        align-items: center;
        margin: 0 0;
        padding: 0 0;
   }
    #left, #right {
        padding: 0.5em 0;
        height: auto;
        width: 80%;
        overflow: visible;
   }
    #left #portrait-hr, #right #portrait-hr {
        border-color: #0d1117;
        margin-bottom: 2em;
   }
    .trivia-left {
        display: none;
   }
    .trivia-right {
        padding-top: 2rem;
        display: block;
   }
}
